header {
    width: 100vw;
    height: 90px;
    background: rgb(251, 141, 14);
    color: white;
}

header > div {
    max-width: 1000px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

header button {
    display: none;
}

.banner-container {
    font-size: 6vw;
}

@media (max-width: 700px){

    header button {
        display: initial;
        z-index: 1;
        height: 60px;
        width: 60px;
        font-size: 24px; 
        border-radius: 50%;
        bottom: 30px;
        right: 30px;
    }

    header nav {
        position: fixed;
        bottom: 0;
        left: 0;
        background: grey;
        transform: translate(0px, 300px);
        transition: 1.3s;
    }

    header nav ul {
        min-width: 100vw;
        height: 300px;
        flex-direction: column;
        padding: 10px 0;
    }

    header .show {
        transform: translate(0px, 0px);
    }
}



